In [3]:
import pandas as pd
import numpy as np
from skopt import BayesSearchCV #scikit-optimize
from skopt.space import Real, Categorical, Integer
from xgboost import XGBClassifier

ModuleNotFoundError: No module named 'importlib.metadata'

In [2]:

#!pip install scikit-optimize
#!pip install xgboost
#!pip install importlib
#!pip install importlib-metadata
#!pip install importlib_metadata

Requirement already satisfied: importlib_metadata in c:\programdata\miniconda3\lib\site-packages (6.7.0)
Requirement already satisfied: zipp>=0.5 in c:\programdata\miniconda3\lib\site-packages (from importlib_metadata) (3.15.0)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in c:\programdata\miniconda3\lib\site-packages (from importlib_metadata) (4.7.1)

In [73]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [74]:
def process_df(df,supp=None):
    class data():
        def __init__(self):
            self.df=dict()

        def add(self,x):
            self.df[x[0]]=x[1]
    
    df.columns=[col.replace(' ','_') for col in df.columns]
    
    df['have_job']=(~df['Profession'].isna())*1
    df['Profession']=df['Profession'].fillna('isnone')
    df['Degree']=df['Degree'].fillna('isnone')
    
    df['Pressure']=df['Work_Pressure']
    df['Pressure']=df['Pressure'].fillna(df['Academic_Pressure'])
    df=df.drop(columns=['Work_Pressure','Academic_Pressure'])
    
    
    df['Satisfaction']=df['Job_Satisfaction']
    df['Satisfaction']=df['Satisfaction'].fillna(df['Study_Satisfaction'])
    df=df.drop(columns=['Job_Satisfaction','Study_Satisfaction'])
    
    df['Pressure']=df['Pressure'].fillna(df['Pressure'].median())
    df['Satisfaction']=df['Satisfaction'].fillna(df['Satisfaction'].median())
    df['Financial_Stress']=df['Financial_Stress'].fillna(df['Financial_Stress'].median())
    
    df=df.drop(columns='CGPA')
    
    rank=['Dietary_Habits','City','Sleep_Duration','Age','Name','Profession','Degree','Work/Study_Hours','Financial_Stress']
    rank_and_orig=['Age','Work/Study Hours','Financial_Stress']
    
    if supp is None:
        supp=data()
        #good_dietary_habits=pd.DataFrame(train['Dietary Habits'].value_counts()).head(3).index
        #supp.add(['good_dietary_habits',good_dietary_habits])
        for col in rank:

            temp=pd.DataFrame(df[col].value_counts()).reset_index()
            temp.columns=[col,'cnt']
            temp['cut']=temp['cnt'].cumsum()/temp['cnt'].sum()
            temp[col+'_rank']=(temp['cut']//0.2).astype(int)
            temp['last_cnt']=temp.cnt.shift(1).fillna(0)
            temp['escalation']=temp.last_cnt/temp.cnt

            for i,row in temp.iterrows():
                if row.escalation>11:
                    temp.loc[temp.index>=i,col+'_rank']=temp.loc[temp.index>=i,col+'_rank']+1

            print(temp.groupby(col+'_rank',as_index=False).agg({'cnt':['max','min','count']}))

            temp=temp[[col,col+'_rank']]
            supp.add([col.replace(' ','_'),temp])
        

    #df.loc[~df['Dietary Habits'].isin(good_dietary_habits),'Dietary Habits']='Other'
    #temp=pd.get_dummies(df['Dietary Habits'],drop_first=True)
    #df=pd.concat([df,temp],axis=1)
    #df=df.drop(columns='Dietary Habits')
    
    for col in rank:
        df=df.merge(supp.df[col],how='left',on=col)
        df[col+'_rank']=df[col+'_rank'].fillna(df[col+'_rank'].max()) # если нет в трейне, но есть в тесте - относим к редким
        if col not in rank_and_orig:
            df=df.drop(columns=col)
    
    #
    for col in ([col+'_rank' for col in rank]+['Gender','Have_you_ever_had_suicidal_thoughts_?','Family_History_of_Mental_Illness','Working_Professional_or_Student']):
        temp=pd.get_dummies(df[col],drop_first=True,prefix='_'.join(col.split('_')[-3:]))
        df=pd.concat([df,temp],axis=1)
        df=df.drop(columns=col)
    return df,supp

In [75]:
train,supp=process_df(train)
test,supp=process_df(test,supp)

  Dietary_Habits_rank    cnt
                         max    min count
0                   1  49705  49705     1
1                   3  46227  46227     1
2                   4  44741  44741     1
3                   5      2      1    20
  City_rank   cnt
              max   min count
0         0  6591  5689     4
1         1  5613  5176     6
2         2  5074  4636     5
3         3  4606  4280     7
4         4  4209  3144     8
5         5     7     1    68
  Sleep_Duration_rank    cnt
                         max    min count
0                   1  38784  38784     1
1                   2  36969  36969     1
2                   3  32726  32726     1
3                   4  32142  32142     1
4                   5     12      1    32
  Age_rank   cnt
             max   min count
0        0  5246  4199     6
1        1  4080  3695     7
2        2  3535  3217     8
3        3  3140  2742    10
4        4  2724  1785    12
  Name_rank   cnt
              max   min count
0         0  3178  1477    15
1         1  1423  1033    24
2         2  1023   744    32
3         3   737   490    47
4         4   486     1   304
  Profession_rank    cnt
                     max    min count
0               1  36630  36630     1
1               2  24906   4022     5
2               3   3893   2212    10
3               4   2055    393    20
4               5      7      1    29
  Degree_rank    cnt
                 max    min count
0           0  14729  11691     2
1           1   8742   5739     4
2           2   5668   4879     5
3           3   4647   3818     7
4           4   3750   2887     9
5           5      5      1    89
  Work/Study_Hours_rank    cnt
                           max    min count
0                     0  14199  12832     2
1                     1  12711  12066     2
2                     2  11409  10432     3
3                     3   9872   9802     2
4                     4   9474   8906     4
  Financial_Stress_rank    cnt
                           max    min count
0                     1  31451  31451     1
1                     2  28279  28279     1
2                     3  27765  27765     1
3                     4  27211  25994     2

In [77]:
test.shape

(93800, 46)

In [60]:
train.isna().sum()

id                                              0
Age                                             0
Financial_Stress                                0
Depression                                      0
have_job                                        0
Pressure                                        0
Satisfaction                                    0
Name_rank                                       0
Profession_rank                                 0
Degree_rank                                     0
Work/Study_Hours_rank                           0
Financial_Stress_rank                           0
Sleep_Duration_rank_2                           0
Sleep_Duration_rank_3                           0
Sleep_Duration_rank_4                           0
Sleep_Duration_rank_5                           0
Dietary_Habits_rank_3.0                         0
Dietary_Habits_rank_4.0                         0
Dietary_Habits_rank_5.0                         0
City_rank_1                                     0
City_rank_2                                     0
City_rank_3                                     0
City_rank_4                                     0
City_rank_5                                     0
Age_rank_1                                      0
Age_rank_2                                      0
Age_rank_3                                      0
Age_rank_4                                      0
Gender_Male                                     0
suicidal_thoughts_?_Yes                         0
of_Mental_Illness_Yes                           0
Professional_or_Student_Working Professional    0
dtype: int64

In [134]:

temp.head(40)

             City   cnt       cut  City_rank  last_cnt       delta
0          Kalyan  6591  0.046844        0.0       0.0    0.000000
1           Patna  5924  0.088948        0.0    6591.0    1.112593
2     Vasai-Virar  5765  0.129922        0.0    5924.0    1.027580
3         Kolkata  5689  0.170355        0.0    5765.0    1.013359
4       Ahmedabad  5613  0.210249        1.0    5689.0    1.013540
5          Meerut  5528  0.249538        1.0    5613.0    1.015376
6        Ludhiana  5226  0.286681        1.0    5528.0    1.057788
7            Pune  5210  0.323710        1.0    5226.0    1.003071
8          Rajkot  5207  0.360718        1.0    5210.0    1.000576
9   Visakhapatnam  5176  0.397505        1.0    5207.0    1.005989
10       Srinagar  5074  0.433568        2.0    5176.0    1.020102
11         Mumbai  4966  0.468863        2.0    5074.0    1.021748
12         Indore  4872  0.503490        2.0    4966.0    1.019294
13           Agra  4684  0.536780        2.0    4872.0    1.040137
14          Surat  4636  0.569730        2.0    4684.0    1.010354
15       Varanasi  4606  0.602466        3.0    4636.0    1.006513
16       Vadodara  4568  0.634932        3.0    4606.0    1.008319
17      Hyderabad  4496  0.666887        3.0    4568.0    1.016014
18         Kanpur  4398  0.698145        3.0    4496.0    1.022283
19         Jaipur  4328  0.728905        3.0    4398.0    1.016174
20          Thane  4289  0.759389        3.0    4328.0    1.009093
21        Lucknow  4280  0.789808        3.0    4289.0    1.002103
22         Nagpur  4209  0.819723        4.0    4280.0    1.016869
23      Bangalore  4123  0.849026        4.0    4209.0    1.020859
24        Chennai  4044  0.877768        4.0    4123.0    1.019535
25      Ghaziabad  3620  0.903497        4.0    4044.0    1.117127
26          Delhi  3593  0.929033        4.0    3620.0    1.007515
27         Bhopal  3475  0.953731        4.0    3593.0    1.033957
28      Faridabad  3268  0.976958        4.0    3475.0    1.063341
29         Nashik  3144  0.999303        4.0    3268.0    1.039440
30          Mihir     7  0.999353        5.0    3144.0  449.142857
31        Nandini     4  0.999382        5.0       7.0    1.750000
32           City     3  0.999403        5.0       4.0    1.333333
33       Pratyush     3  0.999424        5.0       3.0    1.000000
34          Vidya     3  0.999446        5.0       3.0    1.000000
35         Saanvi     3  0.999467        5.0       3.0    1.000000
36         Bhavna     3  0.999488        5.0       3.0    1.000000
37         Harsha     3  0.999510        5.0       3.0    1.000000
38           Mahi     3  0.999531        5.0       3.0    1.000000
39         Keshav     2  0.999545        5.0       3.0    1.500000

In [132]:
temp.head(40)

             City   cnt       cut  City_rank  last_cnt       delta
0          Kalyan  6591  0.046844        0.0       0.0    0.000000
1           Patna  5924  0.088948        0.0    6591.0    1.112593
2     Vasai-Virar  5765  0.129922        1.0    5924.0    1.027580
3         Kolkata  5689  0.170355        1.0    5765.0    1.013359
4       Ahmedabad  5613  0.210249        2.0    5689.0    1.013540
5          Meerut  5528  0.249538        2.0    5613.0    1.015376
6        Ludhiana  5226  0.286681        2.0    5528.0    1.057788
7            Pune  5210  0.323710        3.0    5226.0    1.003071
8          Rajkot  5207  0.360718        3.0    5210.0    1.000576
9   Visakhapatnam  5176  0.397505        3.0    5207.0    1.005989
10       Srinagar  5074  0.433568        4.0    5176.0    1.020102
11         Mumbai  4966  0.468863        4.0    5074.0    1.021748
12         Indore  4872  0.503490        5.0    4966.0    1.019294
13           Agra  4684  0.536780        5.0    4872.0    1.040137
14          Surat  4636  0.569730        5.0    4684.0    1.010354
15       Varanasi  4606  0.602466        6.0    4636.0    1.006513
16       Vadodara  4568  0.634932        6.0    4606.0    1.008319
17      Hyderabad  4496  0.666887        6.0    4568.0    1.016014
18         Kanpur  4398  0.698145        6.0    4496.0    1.022283
19         Jaipur  4328  0.728905        7.0    4398.0    1.016174
20          Thane  4289  0.759389        7.0    4328.0    1.009093
21        Lucknow  4280  0.789808        7.0    4289.0    1.002103
22         Nagpur  4209  0.819723        8.0    4280.0    1.016869
23      Bangalore  4123  0.849026        8.0    4209.0    1.020859
24        Chennai  4044  0.877768        8.0    4123.0    1.019535
25      Ghaziabad  3620  0.903497        9.0    4044.0    1.117127
26          Delhi  3593  0.929033        9.0    3620.0    1.007515
27         Bhopal  3475  0.953731        9.0    3593.0    1.033957
28      Faridabad  3268  0.976958        9.0    3475.0    1.063341
29         Nashik  3144  0.999303        9.0    3268.0    1.039440
30          Mihir     7  0.999353       10.0    3144.0  449.142857
31        Nandini     4  0.999382       10.0       7.0    1.750000
32           City     3  0.999403       10.0       4.0    1.333333
33       Pratyush     3  0.999424       10.0       3.0    1.000000
34          Vidya     3  0.999446       10.0       3.0    1.000000
35         Saanvi     3  0.999467       10.0       3.0    1.000000
36         Bhavna     3  0.999488       10.0       3.0    1.000000
37         Harsha     3  0.999510       10.0       3.0    1.000000
38           Mahi     3  0.999531       10.0       3.0    1.000000
39         Keshav     2  0.999545       10.0       3.0    1.500000